/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 jul. 2022, 15:20:43
    Author     : estef
*/

.dos{
    background-color: green;
    border-radius: 13px;
    border-color: black;
    font-weight:  600;

}

.tres{
    border-radius: 13px;
    border-color: black;
    font-weight:  600;

}
.cuatro{
    border-radius: 10px;
    border-color: black;
    font-weight:  600;
}
.cinco{
    font-size: 4rem;
    margin-top: 1.5rem;
    text-align: center   ;
    color:  white;
    opacity: 0.8;
    margin-bottom: 0.8rem
}

.seis{
    border-radius: 13px;
    border-color: #000;

    background-color: #666666;
    color: white;
}